.title {
	color: white;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);	
}

.abiility-body {
	color: white;
}

.frame-first-ability {
	background-color: #4c5c96;
	padding-top: 100px;
	padding-bottom: 50px;

	@include angled-edge('outside bottom', 'lower left', #4c5c96);
}

.frame-second-ability {
	background-color: #455489;
	@include angled-edge('outside bottom', 'lower right', #455489);
}

.frame-third-ability {
	background-color: #3f4c7c;

	@include angled-edge('outside bottom', 'lower left', #3f4c7c);
}

.frame-fourth-ability {
	background-color: #38446f;
	@include angled-edge('outside bottom', 'lower right', #38446f);
}


.frame-builds-section {
	background-color: #2e3141;
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
	@include angled-edge('outside bottom', 'lower right', #2e3141); 
}

.footer-image {
	background-color: #2e3141;
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
}