@charset 'utf-8';

@import '~angled-edges/_angled-edges';

@import '../components/warframe-list';

@import '_bulma';
@import '_typography';
@import '_sections';


.warframe-page {
	background-color: #2e3141;
	background-size: auto, cover;
	background-attachment: fixed, fixed;
	background-position: center, center;
}