{{- define "itemType" -}}
"http://schema.org/WebPage"
{{- end -}}
{{- define "extra-styles" -}}
<link rel="stylesheet" href="/assets/css/warframe-page/index.css">
{{- end -}}
{{- define "custom-hero-area" -}}
<div class="col-md-12 mx-auto">
	{{ $frame := index .Site.Data.frames (lower .Title) }}
	<h1 class="title">{{ .Title }}</h1>
	<p>{{ .Params.description }}</p>
	<p>{{ $frame.passive | safeHTML }}</p>	
</div>
{{- end -}}
{{- define "main" -}}

{{ $frame := index .Site.Data.frames (lower .Title) }}
{{- range $abilityNum, $ability := $frame.abilities -}}
{{- $side := cond (eq (mod $abilityNum 2) 1) "left" "right" -}}
{{- partial "warframe-page/ability-section.html" (dict "ability" $ability "side" $side "num" $abilityNum) -}}
{{- end -}}

<section class="section frame-builds-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="frame-page-title">{{ $frame.name }} Builds</h2>
				<p>{{ $frame.affectedByMods }}</p>
				<p>So, all things considered, here are some builds you may want to try on your {{ $frame.name }}:</p>
			</div>
			{{ $buildsTag := (slice (print $frame.name "Builds")) }}
			{{ $buildArticles := (where .Site.Pages "Params.tags" "intersect" $buildsTag) }}
			{{ if $buildArticles }}
				{{ range $index, $element := first 6 ($buildArticles) }}
					<div class="col-md-4">
						{{- partial "warframe-page/frame-build-card.html" . -}}
					</div> 
				{{ end }}
			{{ else if $frame.videoBuilds }}
				{{ range $index, $element := $frame.videoBuilds }}
					<div class="col-md-6">
						{{- partial "warframe-page/build-video.html" . -}}
					</div>
				{{ end }}
			{{ end }}
		</div>
	</div>
</section>
{{- end -}}
{{- define "footer-body" -}}
<div class="col-md-12 pt-5 text-left">
	<h2 class="title">Explore more warframes</h2>
</div>
<div class="col-md-12 warframe-list">
	<div class="container">
		<div class="row">
		{{ $frame := index .Site.Data.frames (lower .Title) }}
		{{ range .Site.Data.warframebuilds }}
			{{ if and (.link) (ne .name (lower $frame.name)) }}
				<div class="col-6 col-sm-3 col-md-2">
					<div class="warframe-element" data-roles="any">
						<a href="{{ .link }}" target="_blank" title="Warframe {{ .title }}">
							<h2>{{ .title }}</h2>
							<img src="/images/glyphs/{{ .glyph }}" title="Warframe {{ .title }}" alt="{{ .title }}" />
						</a>
					</div>
				</div>
			{{ end }}
		{{ end }}
		</div>
	</div>
</div>
{{- end -}}