{{- define "itemType" -}}
"http://schema.org/WebPage"
{{- end -}}
{{- define "extra-styles" -}}
<link rel="stylesheet" href="/assets/css/warframe-page/index.css">
{{- end -}}
{{- define "custome-hero-area" -}}
<div class="col-md-12 mx-auto">
	{{ $frame := index .Site.Data.frames (lower .Title) }}
	<h1 class="title">{{ .Title }}</h1>
	<p>{{ .Params.description }}</p>
	<p>{{ $frame.passive | safeHTML }}</p>	
</div>
{{- end -}}
{{- define "main" -}}

{{ $frame := index .Site.Data.frames (lower .Title) }}
{{- range $index, $ability := $frame.abilities -}}
{{- $side := cond (eq (mod $index 2) 1) "left" "right" -}}
{{- partial "warframe-page/ability-section.html" (dict "ability" $ability "side" $side) -}}
{{- end -}}

{{- end -}}
{{- define "body" -}}
<body class="warframe-page" style="background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 49, 65, 0.7)), to(rgba(46, 49, 65, 0.7))), url({{ .Params.image }});background-image: -webkit-linear-gradient(bottom, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url({{ .Params.image }});background-image: -o-linear-gradient(bottom, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url({{ .Params.image }});background-image: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url({{ .Params.image }});">
	{{ $frame := index .Site.Data.frames (lower .Title) }}
	
	<section class="section frame-builds-section">
		<div class="container">
			<div class="columns has-text-left">
				<div class="column is-offset-2-desktop is-8-desktop is-12-mobile">
					<h2 class="frame-page-title">{{ $frame.name }} Builds</h2>
					<p>{{ $frame.affectedByMods }}</p>
					<p>So, all things considered, here are some builds you may want to try on your {{ $frame.name }}:</p>
				</div>
			</div>
			<div class="columns is-multiline">
				{{ $buildsTag := (slice (print $frame.name "Builds")) }}
				{{ $buildArticles := (where .Site.Pages "Params.tags" "intersect" $buildsTag) }}
				{{ if $buildArticles }}
					{{ range $index, $element := first 6 ($buildArticles) }}
						{{ if (modBool $index 2) }}
							<div class="column is-offset-2-desktop is-4-desktop is-12-mobile">
								{{- partial "warframe-page/frame-build-card.html" . -}}
							</div>
						{{ else }}
							<div class="column is-4-desktop is-12-mobile">
								{{- partial "warframe-page/frame-build-card.html" . -}}
							</div>
						{{ end }} 
					{{ end }}
				{{ else if $frame.videoBuilds }}
					{{ range $index, $element := $frame.videoBuilds }}
						{{ if (modBool $index 2) }}
							<div class="column is-offset-2-desktop is-4-desktop is-12-mobile">
								{{- partial "warframe-page/build-video.html" . -}}
							</div>
						{{ else }}
							<div class="column is-4-desktop is-12-mobile">
								{{- partial "warframe-page/build-video.html" . -}}
							</div>
						{{ end }}
					{{ end }}
				{{ end }}
			</div>
		</div>
	</section>
	<footer class="section footer">
		<div class="container">
			<div class="columns has-text-left">
				<div class="column is-offset-2-desktop is-8-desktop is-12-mobile">
					<h2 class="frame-page-title">Explore more warframes</h2>
				</div>
			</div>
			<div class="columns is-multiline is-mobile has-text-centered warframe-list">
				{{ range .Site.Data.warframebuilds }}
					{{ if and (.link) (ne .name (lower $frame.name)) }}
						<div class="column is-2-desktop is-3-tablet is-4-mobile">
							<div class="warframe-element" data-roles="any">
								<a href="{{ .link }}" target="_blank" title="Warframe {{ .title }}">
									<h2>{{ .title }}</h2>
									<img src="/images/glyphs/{{ .glyph }}" title="Warframe {{ .title }}" alt="{{ .title }}" />
								</a>
							</div>
						</div>
					{{ end }}
				{{ end }}
			</div>
			<div class="columns has-text-left">
				<div class="column is-offset-2 is-8">
					<hr>
					<a href="{{ .Site.BaseURL }}">Warframe Blog</a> has no official link with Digital Extremes or Warframe, we are just a fan site.
				</div>
			</div>
				
		</div>
	</footer>
	<script src='/assets/js/warframe-page.js'></script>
</body>
{{- end -}}