.hero.is-primary.frame-hero-section {
	background-color: transparent;
	position: relative;
}

.frame-hero-section h1 {
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

@include mobile {
	.frame-hero-section h1 {
		font-size: 1.5em;
	}
	.frame-hero-section p {
		font-size: 0.8em;
	}
}