$primary: #353849;
$navbar-background-color: #2e3141;
$navbar-item-hover-background-color: $navbar-background-color;
$navbar-item-active-background-color: $navbar-background-color;
$navbar-dropdown-background-color: $navbar-background-color;
$navbar-dropdown-border-top: $navbar-background-color;
$navbar-dropdown-arrow: #ffffff;
$navbar-tab-hover-background-color: $navbar-background-color;

$link: #ffffff;
$link-hover: #ffffff;

$card-background-color: #353849;

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';

@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/image';

@import '~bulma/sass/components/card';
@import '~bulma/sass/components/dropdown';
@import '~bulma/sass/components/navbar';

@import '~bulma/sass/grid/columns';
@import '~bulma/sass/layout/_all';

.columns.is-reverse-mobile {
	@include mobile {
		flex-direction: column-reverse;
		display: flex;
	}
}

.hero .navbar.is-not-transparent {
	background: $navbar-background-color;
}