@import 'components/warframe-list';

.header {
	padding: 100px 0 30px 0;
	color: white;
}

.header p {
  font-size: 16px;
}

.header h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 0 0 20px #000;
}

h1 span.warframe {
  color: #c00;
}

.builds input {
  position: absolute;
  left: -9999px;
}

.builds label {
  display: inline-block;
  position: relative;
  width: 150px;
  margin: 5px;
  padding: 10px 10px 10px 38px;
  background-color: #000;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
}

.builds label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  background-color: #444;
}

.builds input:focus + label {
  outline: 1px solid #fff;
}

.builds input:checked + label::before {
  background-color: #c00;
}


.back-image {
	background-color: #2e3141;
	background-size: cover;
	background-attachment: fixed, fixed;
	background-position: center, center;
}