<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Warframe</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link rel="stylesheet" href="/assets/css/builds.css"><!-- Temporarily -->

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic" type="text/css" media="all">
</head>
<body style="background-image: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url('/images/frames/excalibur.jpg');">
	{{ $frame := index .Site.Data.frames "excalibur" }}
	<section class="hero is-primary is-medium frame-hero-section">
		<div class="hero-head">
			{{- partial "navbar.html" . -}}
		</div>
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-offset-2 is-8">
						<h1 class="frame-page-title">Excalibur</h1>
						<p>
							Excalibur is one of the three starter Warframes a new player can select. Excalibur is a master swordsman and his abilities allow him to bring forth his summoned blade, cutting enemies in his path, while also presenting options for mobility and defense.
						</p>
						<p>{{ $frame.passive | safeHTML }}</p>					
					</div>
				</div>
			</div>			
		</div>
	</section>
	<section class="section frame-ability frame-first-ability">
		<div class="container has-text-right">
			<div class="columns is-reverse-mobile">
				{{ $frameFirstAbility := index $frame.abilities 0 }}
				<div class="column is-offset-2-desktop is-5-desktop is-offset-1-tablet is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" (dict "ability" $frameFirstAbility) -}}
				</div>
				<div class="column is-3-desktop is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" (dict "ability" $frameFirstAbility) -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-ability frame-second-ability">
		<div class="container has-text-left">
			<div class="columns">
				{{ $frameSecondAbility := index $frame.abilities 1 }}
				<div class="column is-offset-2-desktop is-3-desktop is-offset-1-tablet is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" (dict "ability" $frameSecondAbility) -}}
				</div>
				<div class="column is-5-desktop is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" (dict "ability" $frameSecondAbility) -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-ability frame-third-ability">
		<div class="container has-text-right">
			<div class="columns is-reverse-mobile">
				{{ $frameThirdAbility := index $frame.abilities 2 }}
				<div class="column is-offset-2-desktop is-5-desktop is-offset-1-tablet is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" (dict "ability" $frameThirdAbility ) -}}
				</div>
				<div class="column is-3-desktop is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" (dict "ability" $frameThirdAbility) -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-ability frame-fourth-ability">
		<div class="container has-text-left">
			<div class="columns">
				{{ $frameFourthAbility := index $frame.abilities 3 }}
				<div class="column is-offset-2-desktop is-3-desktop is-offset-1-tablet is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" (dict "ability" $frameFourthAbility) -}}
				</div>
				<div class="column is-5-desktop is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" (dict "ability" $frameFourthAbility) -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-builds-section">
		<div class="container">
			<div class="columns has-text-left">
				<div class="column is-offset-2 is-8">
					<h2 class="frame-page-title">{{ $frame.name }} Builds</h2>
					<p>{{ $frame.affectedByMods }}</p>
					<p>So, all things considered, here are some builds you may want to try on your {{ $frame.name }}:</p>
				</div>
			</div>
			<div class="columns is-multiline">
				{{ $buildsTag := (slice "ExcaliburBuilds") }}
				{{ range $index, $element := first 6 (where .Site.Pages "Params.tags" "intersect" $buildsTag) }}
					{{ if (modBool $index 2) }}
						<div class="column is-offset-2 is-4">
							{{- partial "frame-page/frame-build-card.html" . -}}
						</div>
					{{ else }}
						<div class="column is-4">
							{{- partial "frame-page/frame-build-card.html" . -}}
						</div>
					{{ end }} 
				{{ end }}
			</div>
		</div>
	</section>
	<footer class="section footer" >
		<div class="container">
			<div class="columns has-text-left">
				<div class="column is-offset-2 is-8">
					<h2 class="frame-page-title">Explore more warframes</h2>
				</div>
			</div>
				
		</div>
	</footer>
	<script src='/assets/js/navbar.js'></script>
</body>
</html>