<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Warframe</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic" type="text/css" media="all">
</head>
<body>
	<section class="hero is-primary is-large frame-hero-section" style="background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url('/assets/img/bg.jpg');">
		<div class="hero-head">
			{{- partial "navbar.html" . -}}
		</div>
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-offset-2 is-8">
						<h1 class="frame-page-title">Excalibur</h1>
						<p>
							Excalibur is one of the three starter Warframes a new player can select. Excalibur is a master swordsman and his abilities allow him to bring forth his summoned blade, cutting enemies in his path, while also presenting options for mobility and defense.
						</p>
						<p class="subtitle">
							<strong>Excalibur’s passive</strong> is called Swordsmanship. He receives a bonus to melee damage and attack speed while wielding a sword type melee weapon. Swords, dual swords, rapiers and nikanas all benefit from his passive.
						</p>					
					</div>
				</div>
			</div>			
		</div>
		<div class="hero-foot">
		</div>
	</section>
	<section class="section frame-ability frame-first-ability">
		<div class="container has-text-right">
			<div class="columns is-reverse-mobile">
				<div class="column is-offset-2-desktop is-5-desktop is-offset-1-tablet is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" . -}}
				</div>
				<div class="column is-3-desktop is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" . -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-ability frame-second-ability">
		<div class="container has-text-left">
			<div class="columns">
				<div class="column is-offset-2-desktop is-3-desktop is-offset-1-tablet is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" . -}}
				</div>
				<div class="column is-5-desktop is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" . -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-ability frame-third-ability">
		<div class="container has-text-right">
			<div class="columns is-reverse-mobile">
				<div class="column is-offset-2-desktop is-5-desktop is-offset-1-tablet is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" . -}}
				</div>
				<div class="column is-3-desktop is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" . -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-ability frame-fourth-ability">
		<div class="container has-text-left">
			<div class="columns">
				<div class="column is-offset-2-desktop is-3-desktop is-offset-1-tablet is-3-tablet is-offset-3-mobile is-half-mobile">
					{{- partial "frame-page/frame-ability-image.html" . -}}
				</div>
				<div class="column is-5-desktop is-7-tablet is-12-mobile">
					{{- partial "frame-page/frame-ability-info.html" . -}}
				</div>
			</div>
		</div>
	</section>
	<section class="section frame-builds-section">
		<div class="container">
			<div class="columns has-text-left">
				<div class="column is-offset-2 is-8">
					<h2 class="frame-page-title">Excalibur Builds</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quaerat nesciunt facere, nisi id corrupti deserunt enim pariatur nobis numquam, velit. Commodi vitae libero, omnis rem eveniet earum quo veritatis.</p>
				</div>
			</div>
			<div class="columns is-multiline">
				{{ $buildsTag := (slice "ExcaliburBuilds") }}
				{{ range $index, $element := first 6 (where .Site.Pages "Params.tags" "intersect" $buildsTag) }}
					{{ if (modBool $index 2) }}
						<div class="column is-offset-2 is-4">
							<h1>{{ $element.Title }}</h1>
						</div>
					{{ else }}
						<div class="column is-4">
							<h1>{{ $element.Title }}</h1>
						
						</div>
					{{ end }} 
				{{ end }}
				
			</div>
		</div>
	</section>

	<script src='/assets/js/navbar.js'></script>
</body>
</html>