
{{- define "main-body" -}}
	<div class="container">
		<div class="row">
<!-- 			<div class="col-md-12 mt-5 pt-5 builds-category">
				<h1 class="title pt-5">{{ .Title }}</h1>
				{{- partial "category/breadcrumbs.html" . -}}
				<p>{{ .Content }}</p>
			</div> -->

			<div class="col-md-12">
				{{- partial "builds/menu.html" . -}}
			</div>
			
			{{- range  .Paginator.Pages -}}
				{{- partial "plain-card.html" . -}}
			{{- end -}}
		</div>
	</div>
	{{- partial "pagination.html" . -}}
{{- end -}}
