{{- define "title" -}}
  {{ .Params.seoTitle | default .Title }}
{{- end -}}
{{ define "bodyClasses" }}archive category{{ end }}
{{ define "body" }}
  <div class="wrapper">
    <header class="header">
      {{ partial "nav.html" . }}
    </header>
    <div class="main">
        <div class="hestia-blogs">
            <div class="container">
                <div class="row">
					<div class="col-md-6 col-md-push-6">
						<div class="mod-image" style="margin-top: 50px">
							<img src="{{ .Params.image }}" width="40%" height="40%" class="center-block" title="{{ .Title }}" alt="{{ .Params.modName }} Mod" />
						</div>
                    </div>
                    <div class="col-md-6 col-md-pull-6 archive-post-wrap">
                    	<div class="mod-info">
		                	<h1>{{ .Title }}</h1>
		                	<p><strong>{{ .Params.modName }}</strong> are enhanced versions of the {{ .Params.originalMod }} which <b><em>{{ .Params.increases }}</em></b>. {{ .Params.modName }} is essentially the {{ .Params.originalMod }} mod with Legendary rarity and 5 more ranks. It is considered the same mod as its Rare counterpart, and thus both mods cannot be equipped together.</p>
		                	<p>This mod can be purchased unranked from <a href="/baro-kiteer-void-trader/" title="Warframe Baro Ki'Teer Void Trader Guide">Baro Ki'Teer</a> for <b>{{ .Params.credits }} credits</b> and <b>{{ .Params.ducats }} ducats</b>. Note however that Baro Ki'Teer's stock changes with each appearance, and may not have this item available at every time. <b><em>Baro Ki'Teer is the only way to get {{ .Params.modName }} aside from buying other players</em></b>. The <b>trade tax</b> for trading {{ .Params.modName }} from another player is <b>1 million <a href="/farm-credits-750k-credits-per-hour/" title="How To Farm Credits">credits</a></b>. If you have any doubts to get {{ .Params.modName }} or not below you can see some of the builds that benefit from it.</p>
		                	<div class="buttons"> <a href="#builds" title="See more" class="btn btn-primary btn-lg">See builds</a></div>
		                </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-12 text-center">
							<h2 class="hestia-title"><a name="builds">Builds that benefit from {{ .Params.modName }}</a></h2>
						</div>
                    	<div class="col-md-10 col-md-offset-1 blog-posts-wrap">
                    		{{ $modName := slice .Params.modName }}
                    		{{ range first 30 (where .Site.Pages ".Params.mods" "intersect" $modName) }}
								{{partial "horizontal-card.html" .}}
							{{ end }}
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        {{ partial "site-footer.html" . }}
    </div>
  </div>
{{ end }}