ol.breadcrumbs {font-size: 100%; text-align:center; margin-top: 2%; list-style-type: none;}
ol.breadcrumbs li {display: inline-block;}
ol.breadcrumbs a {display: inline; border: none; padding: 0; text-transform: none; color: white;}