#breadcrumbs {font-size: 45%; text-align:center; margin-top: 2%;}
#breadcrumbs-category {font-size: 100%; text-align:center; margin-top: 2%;}
#breadcrumbs a, #breadcrumbs-category a {display: inline; border: none; padding: 0; text-transform: none; color: white;}