$primary: #353849;
$navbar-background-color: #2e3141;
$navbar-item-hover-background-color: $navbar-background-color;
$navbar-item-active-background-color: $navbar-background-color;
$navbar-dropdown-background-color: $navbar-background-color;
$navbar-dropdown-border-top: $navbar-background-color;
$navbar-dropdown-arrow: #ffffff;
$navbar-tab-hover-background-color: $navbar-background-color;

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/layout/_all';
