$primary: #2e3141;

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/layout/_all';
