<nav class="{{ if .IsHome }}{{ .Site.Params.navClasses }}{{ else if .Params.navClasses}}{{ .Params.navClasses }}{{ else }}navbar navbar-default navbar-fixed-top hestia_left{{ end }}">
    <div class="container">
        <div class="navbar-header">
            <div class="title-logo-wrapper">
                <a class="navbar-brand" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                    <p>{{ .Site.Title }}</p>
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right" id="menu-main-menu">
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="News" href="{{ .Site.BaseURL }}warframe-news/">News</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown"><a class="dropdown-toggle" title="Guides" href="{{ .Site.BaseURL }}guides/" data-toggle="dropdown" aria-haspopup="true">Guides <span class="caret"></span></a>
                	<ul class="dropdown-menu" role="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a title="Warframe Fortuna" href="{{ .Site.BaseURL }}fortuna/">Warframe Fortuna</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="Farming" href="{{ .Site.BaseURL }}farming/">Farming</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown"><a class="dropdown-toggle" title="Builds" href="{{ .Site.BaseURL }}builds/" data-toggle="dropdown" aria-haspopup="true">Builds <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a title="Warframe Builds" href="{{ .Site.BaseURL }}warframe-builds/">Warframe Builds</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="sr-only">Toggle Navigation</span></button>
    </div>
</nav>