<div class="col-md-3 blog-sidebar-wrapper col-md-offset-1">
    <aside class="blog-sidebar" id="secondary" role="complementary">
        <div class="widget widget_views">
            <h5>Popular Guides</h5>
            <ul>
                <li><a href="https://warframeblog.com/balor-fomorian-event/" title="Balor Fomorian Event Guide and Rewards">Balor Fomorian Event Guide and Rewards</a></li>
                <li><a href="https://warframeblog.com/top-arcanes-to-boost-your-damage/" title="TOP 5 Arcanes To Boost Your Damage">TOP 5 Arcanes To Boost Your Damage</a></li>
                <li><a href="https://warframeblog.com/get-started-plains-of-eidolon/" title="How to get started in Plains of Eidolon">How to get started in Plains of Eidolon</a></li>
                <li><a href="https://warframeblog.com/how-earn-platinum-vault-runs/" title="How to earn Platinum | Vault Runs">How to earn Platinum | Vault Runs</a></li>
                <li><a href="https://warframeblog.com/how-to-get-hydroid/" title="How to get Hydroid">How to get Hydroid</a></li>
                <li><a href="https://warframeblog.com/how-to-get-nekros/" title="How to get Nekros">How to get Nekros</a></li>
                <li><a href="https://warframeblog.com/affinity-how-level-up/" title="Affinity Mechanic – How to Level up Correctly">Affinity Mechanic – How to Level up Correctly</a></li>
            </ul>
        </div>
        <div class="widget widget_text">
            <h5>Follow Us</h5>
            <div class="textwidget">
                <p><a class="twitter-timeline" href="https://twitter.com/warframeblog?ref_src=twsrc%5Etfw" data-tweet-limit="2">Tweets by warframeblog</a>
                    <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
            </div>
        </div>
        <div class="widget widget_views">
            <h5>Farm Resources Right</h5>
            <ul>
                <li><a href="https://warframeblog.com/mutalist-nav-coordinates-farming/" title="Mutalist Alad V Nav Coordinates Farming Guide">Mutalist Alad V Nav Coordinates Farming Guide</a></li>
                <li><a href="https://warframeblog.com/warframe-plastids-farming/" title="Warframe Plastids Farming">Warframe Plastids Farming</a></li>
                <li><a href="https://warframeblog.com/oxium-farming/" title="Oxium Farming">Oxium Farming</a></li>
                <li><a href="https://warframeblog.com/warframe-neurodes-farming/" title="Warframe Neurodes Farming">Warframe Neurodes Farming</a></li>
                <li><a href="https://warframeblog.com/farm-credits-750k-credits-per-hour/" title="How To Farm Credits – 750k Credits Per Hour">How To Farm Credits – 750k Credits Per Hour</a></li>
                <li><a href="https://warframeblog.com/farming-stalker/" title="Warframe Farming Stalker (Dread,Despair, Hate &amp; War)">Warframe Farming Stalker (Dread,Despair, Hate & War)</a></li>
                <li><a href="https://warframeblog.com/how-farm-endo/" title="How To Farm Endo">How To Farm Endo</a></li>
            </ul>
        </div>
        <div class="widget widget_views">
            <h5>Popular Builds</h5>
            <ul>
                <li><a href="https://warframeblog.com/mirage-prime-build/" title="Mirage Prime Build">Mirage Prime Build</a></li>
                <li><a href="https://warframeblog.com/corinth-build/" title="Corinth build &amp; review. Tenno Shotgun.">Corinth build & review. Tenno Shotgun.</a></li>
                <li><a href="https://warframeblog.com/akbolto-prime-build/" title="Akbolto Prime Build">Akbolto Prime Build</a></li>
                <li><a href="https://warframeblog.com/quartakk-build/" title="Quartakk build">Quartakk build</a></li>
                <li><a href="https://warframeblog.com/kogake-prime-build/" title="Kogake Prime Build">Kogake Prime Build</a></li>
                <li><a href="https://warframeblog.com/gunsen-build/" title="Gunsen Build – New &amp; Strong Melee Type">Gunsen Build – New & Strong Melee Type</a></li>
                <li><a href="https://warframeblog.com/baza-build/" title="Warframe Baza build">Warframe Baza build</a></li>
            </ul>
        </div>
    </aside>
</div>