{{ if .trader.active}}
<b>(These offerings available until <span>{{ dateFormat "Monday, January 2, 2006 15:04 MST" .trader.expiry }}</span>)</b>
<div class="table-responsive">          
	<table class="table">
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Ducats</th>
				<th>Credits</th>
			</tr>
		</thead>
		<tbody>
			{{- range .trader.inventory -}}
				<tr>
					<td>{{ .item }}</td>
					<td>{{ string .ducats }}</td>
					<td>{{ string .credits }}</td>
				</tr>
			{{- end -}}
		</tbody>
	</table>
</div>
{{ else }}
	<p>Baro Ki'Teer arrives at {{ dateFormat "Monday, January 2, 2006 15:04 MST" .trader.activation }}</p>
{{ end }}