<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io">
				Warframe Blog
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
			</div>

			<div class="navbar-end">
				<a class="navbar-item">News</a>
				<div class="navbar-item has-dropdown">
					<a class="navbar-link">Guides</a>
					<div class="navbar-dropdown">
						<a class="navbar-item">Warframe Fortuna</a>
					</div>
				</div>
				<a class="navbar-item">Farming</a>
				<div class="navbar-item has-dropdown">
					<a class="navbar-link">Builds</a>
					<div class="navbar-dropdown">
						<a class="navbar-item">Warframe Builds</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>