<h2>Baro Ki'Teer Inventory</h2>

<ul class="nav nav-pills nav-pills-info">
	<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#pc">PC</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ps4">PS4</a></li>
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#xb1">XBox One</a></li>
	<li class="nav-item"><a class="nav-link"data-toggle="tab" href="#swi">Nintendo Switch</a></li>
</ul>

<div class="tab-content tab-space" style="padding-bottom: 0;">
	<div id="pc" class="tab-pane active show">
		{{- partial "voidtrader.html" (dict "trader" $.Site.Data.trader.pc) -}}
	</div>
	<div id="ps4" class="tab-pane">
		{{- partial "voidtrader.html" (dict "trader" $.Site.Data.trader.ps4) -}}
	</div>
	<div id="xb1" class="tab-pane">
		{{- partial "voidtrader.html" (dict "trader" $.Site.Data.trader.xb1) -}}
	</div>
	<div id="swi" class="tab-pane">
		{{- partial "voidtrader.html" (dict "trader" $.Site.Data.trader.swi) -}}
	</div>
</div>